form[action^="/cart/add"] [type="submit"] {
    visibility: visible !important;
}
div.rc_block__type--active {
    background-color: white !important;
}
.product-info .section {
    border-top: 1px solid #1630a6;
    padding: 1.3em 0;
    border-bottom: 1px solid #1630a6 !important;
}

/* 2nd subscription option */
.rc_label {
color: #676767 !important;
}


.sec {
  margin-left: 3%;
  margin-right: 2%;
  width: 100%;
  overflow: hidden;
}

.dark-orange {
  width: 5px;
  /* display: block; */
  float: left;
  background-color: orange;
  position: absolute;
  margin-top: -99px;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #5b6169;
  /* background-color: #FEE8A5; */
  height: 43px;
  padding-top: 1px;
  padding-left: 9px;
  font-size: 2vw;
  margin-top: 35px;
}

.dark-orange-h1 {
  font-family: Vollkorn;
  font-weight: bolder;
  color: white;
  height: 37px;
  padding-top: 12px;
  padding-left: 9px;
  font-size: 0;
}

.orange-bar {
  width: 215px;
  height: 0px;
  display: block;
  float: right;
  background-color: #FEE8A5;
  position: absolute;
  margin-left: 44px;
  margin-bottom: 100px;
  margin-top: -143px;
}

.orange-bar-h1 {
  width: 45vw;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #5b6169;
  background-color: #FEE8A5;
    height: 43px;
  padding-top: -77px;
  padding-left: 3px;
  font-size: 1.3vw;
  margin-top: 178px;
  margin-left: -36px;
  padding-top: 7px;
  padding-bottom: -23px;
}

.orange-section-description {
  width: 45vw;
  float: left;
  margin-top: 98px;
  color: black;
  font-size: 1vw;
  line-height: 1.6vw;
  position: relative;
}

.solid-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 9px;
  margin-top: 24px;
  margin-left: 0px;
  width: 96%;
}

.dashed-box {
    border: 1px dashed black;
    border-radius: 5px;
    margin-top: 102px;
    width: 45.5vw;
    z-index: 4;
    height: 37vw;
}

/* gray */

.dark-gray {
  width: 5px;
  float: left;
  background-color: #DDDDDD;
  position: absolute;
  margin-top: -99px;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #5b6169;
  height: 43px;
  padding-top: 1px;
  padding-left: 9px;
  font-size: 2vw;
  margin-top: 118px;
  margin-left: 15px;
}

.dark-gray-h1 {
  font-family: Vollkorn;
  font-weight: bolder;
  color: white;
  height: 37px;
  padding-top: 12px;
  padding-left: 9px;
  font-size: 0;
}

.gray-bar {
  width: 215px;
  height: 0px;
  display: block;
  float: right;
  background-color: #FEE8A5;
  position: absolute;
  margin-left: 44px;
  margin-bottom: 100px;
  margin-top: -143px;
}

.gray-bar-h1 {
  width: 42vw;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #2C9A49;
  background-color: #F7F8F9;
  height: 37px;
  padding-top: -77px;
  padding-left: 3px;
  font-size: 1.3vw;
  margin-top: 261px;
  margin-left: -20px;
  padding-top: 7px;
  padding-bottom: -23px;
}

.gray-section-description {
  width: 43.3vw;
  float: left;
  margin-top: 175px;
  color: black;
  font-size: 1vw;
  line-height: 20px;
  position: relative;
  margin-left: 15px;
}

/* grayer bar */

.dark-grayer {
  width: 0px;
  float: left;
  background-color: #777777;
  position: absolute;
  margin-top: -99px;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #5b6169;
  height: 45px;
  padding-top: 1px;
  padding-left: 9px;
  font-size: 2vw;
  margin-top: 35px;
}

.dark-grayer-h1 {
  font-family: Vollkorn;
  font-weight: bolder;
  color: white;
  height: 37px;
  padding-top: 12px;
  padding-left: 9px;
  font-size: 0;
}

.grayer-bar {
  width: 215px;
  height: 0px;
  display: block;
  float: right;
  background-color: #FEE8A5;
  position: absolute;
  margin-left: 44px;
  margin-bottom: 100px;
  margin-top: -143px;
}

.grayer-bar-h1 {
  width: 45vw;
  font-family: Vollkorn;
  font-weight: bolder;
  color: #5b6169;
  height: 45px;
  padding-top: -77px;
  padding-left: 3px;
  font-size: 1.3vw;
  margin-top: 178px;
  margin-left: -36px;
  padding-top: 7px;
  padding-bottom: -23px;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

/* Title */
#ttt{
   display: none;
}

/* picture slider */
.product-gallery {
    margin-right: 13px;
    margin-left: 3%;
    width: 700px;
}

/* product images */

.femipro {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

#femipro-bio-one {
    margin-left: 79%;
    margin-top: 0%;
    float: right;
    position: absolute;
    transform: rotate(16deg);
    max-width: 19%;
}

#femipro-bio-two {
	margin-top: 0%;
    float: right;
    max-width: 26%;
}

#femipro-bio-threefour {
    margin-top: -7%;
    margin-bottom: 5%;
    float: right;
    max-width: 35%;
}

#femipro-bio-five {
  margin-top: 5%;
}

.femipro-bio-pic{
    max-width: 77%;
    margin-top: 4%;
    margin-left: 11%;
}
.reading-container {
  max-width: initial;
}

.product-bundles {
  margin-top: 13px;
}

.left {
/*   background: green; */
  display: table-cell;
  width: 173px;
  height: 11vw;
}

.center {
/*   background: gold; */
  display: table-cell;
  width: 30.33vw;
}

.right {
  display: table-cell;
  width: 230px;
}

.container-two {
  margin-top: -2px !important;
}

.container {
  width: 46.8vw;
  margin-left: -15px;
  margin-top: 92px;
  border: 1px solid #cccccc82;
  padding-right: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  height: 114px;
}
.subscriptions{
  line-height: 1.2;
  font-size: 15px;
  padding: 0 0 0 10px;
}

.buy-button{
  width: 152px;
  margin-left: 26px;
  background: #69CA25;
  padding: 9px;
}
.buy-picture{
    max-width: 88px;
  padding-top: 12px;
}

.social {
display: none;
}



/* tabs */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.responsive {
  width: 38vw;
}

.product-info-h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

.product-info-p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 16px;
}

.product-info-main {
   width: 46vw;
   padding: 7% 0 0 0;
   background: #fff;
   margin-left: 6%;
}

.product-info-section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.product-info-input {
  display: none;
}

.product-info-label {
  display: inline-block;
  margin: 0 0 -1px;
/*   padding: 15px 25px; */
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  border-radius: 12px;
}

.product-info-label-one {
  margin-top: 1px;
  border: 6px solid #fff6d0;
  border-radius: 6px 6px 0 0;
  background: #fff6d0;
}
.product-info-label-two {
  margin-top: 1px;
  border: 6px solid #ffdfdf;
  border-radius: 6px 6px 0 0;
  background: #ffdfdf;
}
.product-info-label-four {
  margin-top: 1px;
  border: 6px solid #d2ffc4;
  border-radius: 6px 6px 0 0;
  background: #d2ffc4;
}

/* // */

.product-info-section {
  padding: 21px;
}

.product-info-section-one{
  margin-top: 1px;
  border: 9px solid #fff6d0;
  border-radius: 0 12px 12px 12px;
}

.product-info-section-two{
  margin-top: 1px;
  border: 9px solid #ffdfdf;
  border-radius: 0 12px 12px 12px;
}

.product-info-section-four{
  margin-top: 1px;
  border: 9px solid #d2ffc4;
  border-radius: 0 12px 12px 12px;
}

.product-info-label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.product-info-label[for*='1']:before {
  content: '\f1cb';
}

.product-info-label[for*='2']:before {
  content: '\f17d';
}

.product-info-label[for*='3']:before {
  content: '\f16b';
}

.product-info-label[for*='4']:before {
  content: '\f1a9';
}

/* .product-info-label:hover {
  color: #888;
  cursor: pointer;
}
 */
/* .product-info-input:checked+.product-info-label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
} */

#tab1:checked~#content1, #tab2:checked~#content2, #tab3:checked~#content3, #tab4:checked~#content4 {
  display: block;
}
.vp400{
visibility: hidden;
}

/* image slider */
.swiper-container.gallery-top.swiper-container-horizontal {
	height: 48% !important;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /* Title */
  #ttt{
   display: initial;
  }
  .product-title{
  display: none;
  }
  .orange-section-description {
    	width: 93%;
    	float: left !important;
    	margin-top: 98px !important;
   		color: #232020 !important;
    	font-size: 14px !important;
    	line-height: 22px !important;
    	position: relative !important;
	}

  .orange-bar-h1 {
    width: 82vw;
    font-family: Vollkorn;
    font-weight: bolder;
    color: #5b6169;
    background-color: #FEE8A5;
    height: 43px;
    padding-left: 3px;
    font-size: 4vw;
    margin-top: 178px;
    margin-left: -36px;
    padding-top: 7px;

	}

  #femipro-bio-one {
    display: none;
  }
  #femipro-bio-two {
    max-width: 43%;
  }
  #femipro-bio-threefour {
    max-width: 41%;
  }

  .gray-bar-h1 {
    width: 64vw;
    font-size: 3.9vw;
  }
  .dark-gray {
    height: 37px;
  }

  .gray-section-description {
    width: 74.3vw;
    font-size: 3.7vw;
	}
  .femipro-bio-pic {
    max-width: 111%;
    margin-left: -4%;
	}
  .dashed-box {
    width: 84.5vw;
    height: 127vw;
	}
  .solid-box {
    width: 100%;
	}

  #ttt{
    padding: 9px;
    font-size: 20px;
    color: black;
    font-weight: 500;

  }


  .subscriptions {
    font-size: 12px;
    padding: 0 0 0 20px;
    width: 110px;
  }

  .buy-button {
    width: 110px;
    margin-left: 6px;
    padding: 7px;
  }


  /* picture slider */
.product-gallery {
    margin-right: 13px;
    margin-left: 3%;
    width: 313px;
  }
  .majorinfo {
    position: relative;
    min-height: 0px !important;
  }

  .money{
    top: -21px !important;
  }
  .money1{
    font-size: 17px !important;
    color: black;
    padding-left: 20px !important;
  }
  .product-gallery .gallery-thumbs {
    position: relative;
    margin: -2px 0;
    border: 1px solid darkgrey;
    padding-top: 16px;
	}

  .product-info .pricearea {
    height: 0px;
}

  .rc_block__type {
    width: 93% !important;
    margin-left: 11px !important;
    border-radius: 4px !important;
    padding: 0 20px !important;
    top: -10px !important;
    font-size: 13px !important;
}
  .sharing.productoptions.section {
    border-top: 1px solid #1630a6 !important;
    padding: 15px !important;
    max-width: 94% !important;
    margin-left: 10px !important;

}
  .product-gallery .gallery-thumbs a img {
    margin-left: 6%;
}
  .rc_popup__hover{
        font-size: 13px;
    background-color: #f3f3f3;
    width: 98%;
}
}
/* @media (min-width: 768px){
.product-gallery .gallery-top .swiper-slide img {
    max-height: calc(100vh);
}
}
   */



/* need to activate globally */

@media only screen and (min-width: 992px) {

.product-info{
    width: 318px;
    display: inline-block;
    position: fixed;
    border: 1px solid #c9cacc;
    border-radius: 6px;
    padding: 19px;
    margin-left: 2%;
  }
  .money{
    top: 29px !important;
    left: -14px;
  }
  .money1{
    font-size: 17px !important;
    color: black;
    padding-left: 20px !important;
  }


   .rc_block__type {
    width: 93% !important;
    margin-left: 11px !important;
    border-radius: 4px !important;
    padding: 0 20px !important;
    top: -10px !important;
    font-size: 13px !important;
}
  .sharing.productoptions.section {
    border-top: 1px solid #1630a6 !important;
    padding: 15px !important;
    max-width: 94% !important;
    margin-left: 10px !important;

}
  .product-gallery .gallery-thumbs a img {
    margin-left: 6%;
}
  .rc_popup__hover{
        font-size: 17px;
    background-color: #f3f3f3;
    width: 98%;
}

  label.rc_label {
    /* color: #000000; */
}



}
